.main {
}

body { 
  padding-top: 70px; padding-bottom: 70px;
}


.navbar-inverse {
   background-color: #042c62;
}


.tech {
  margin: 0 auto;
  border: 3px solid;
  border-color: #042c62;
  border-radius: 20px;
}

/*a {
    color: 005eff;
}

a:hover,
a:focus,
a:active,
a.active {
    color: 0900ff;
}
*/
