<template name="TutorialsList">
  <h1>Tutorials List</h1>
  <table class="table table-hover">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Upload Date</th>
            <th>Level</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

          {{#each tutorials}}
            <tr>
              <td>{{title}}</td>
              <td>{{description}}</td>
              <td>{{uploadDateFormatted}}</td>
              <td>
                {{#if levelAdvanced}}
                  <span class="label label-danger">{{level}}</span>
                {{/if}}

                {{#if levelIntermediate}}
                  <span class="label label-warning">{{level}}</span>
                {{/if}}

                {{#if levelBeginner}}
                  <span class="label label-easy">{{level}}</span>
                {{/if}}
              </td>
              <td>
                {{#linkTo route='editTutorial'}}
                  <i class="fa fa-pencil-square-o"></i>
                {{/linkTo}}
              </td>
            </tr>
          {{/each}}

        </tbody>
      </table>

</template>
