<template name="FrameWorks">
  <div class="frame-works">
    <h1>Find me in app/client/templates/frame_works/frame_works</h1>
    <ul class="list-wide">
      <li>
        <i class="icon-check"></i> <a href="http://allcountjs.com">AllcountJS</a>
        <iframe src="http://ghbtns.com/github-btn.html?user=allcount&repo=allcountjs&type=watch&count=true"
        allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

        <a data-toggle="collapse" data-parent="#full-stack" href="#allcountjs">
          <i class="icon-info icon-stack-1x icon-inverse"></i>
        </a>

        <div id="allcountjs" class="panel-collapse collapse">
          [<a href="https://github.com/allcount/allcountjs">GitHub</a>]&nbsp;
          [<a href="https://www.npmjs.org/package/allcountjs-cli">NPM CLI</a>]&nbsp;
          [<a href="https://www.npmjs.org/package/allcountjs">NPM</a>]&nbsp;
          [<a href="https://gitter.im/allcount/allcountjs">Gitter</a>]&nbsp;
        </div>

      </li>
      <li>
        <i class="icon-check"></i> <a href="http://derbyjs.com">Derby</a>
        <iframe src="http://ghbtns.com/github-btn.html?user=derbyjs&repo=derby&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

        <a data-toggle="collapse" data-parent="#full-stack" href="#derbyjs">
          <i class="icon-info icon-stack-1x icon-inverse"></i>
        </a>

        <div id="derbyjs" class="panel-collapse collapse">
          [<a href="https://github.com/derbyjs/derby">GitHub</a>]&nbsp;
          [<a href="https://www.npmjs.org/package/derby">NPM</a>]&nbsp;
        </div>

      </li>
      <li>
        <i class="icon-check"></i> <a href="http://socketstream.org">SocketStream</a>
        <iframe src="http://ghbtns.com/github-btn.html?user=socketstream&repo=socketstream&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

        <a data-toggle="collapse" data-parent="#full-stack" href="#socketstream">
          <i class="icon-info icon-stack-1x icon-inverse"></i>
        </a>

        <div id="socketstream" class="panel-collapse collapse">
          [<a href="http://github.com/socketstream/socketstream">GitHub</a>]&nbsp;
          [<a href="https://npmjs.org/package/socketstream">NPM</a>]&nbsp;
        </div>
      </li>
      <li>
        <i class="icon-check"></i><a href="http://mean.io/">MEAN.io</a>
        <iframe src="http://ghbtns.com/github-btn.html?user=linnovate&repo=mean&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

        <a data-toggle="collapse" data-parent="#full-stack" href="#meanio">
          <i class="icon-info icon-stack-1x icon-inverse"></i>
        </a>

        <div id="meanio" class="panel-collapse collapse">
          [<a href="https://github.com/linnovate/mean">GitHub</a>]&nbsp;
          [<a href="https://www.npmjs.org/package/meanio">NPM</a>]&nbsp;
        </div>
      </li>
      <li>
        <i class="icon-check"></i> <a href="http://meteor.com/">Meteor</a>
        <iframe src="http://ghbtns.com/github-btn.html?user=meteor&repo=meteor&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

        <a data-toggle="collapse" data-parent="#full-stack" href="#meteor">
          <i class="icon-info icon-stack-1x icon-inverse"></i>
        </a>

        <div id="meteor" class="panel-collapse collapse">
          [<a href="https://github.com/meteor/meteor">GitHub</a>]&nbsp;
          [<a href="https://www.npmjs.org/package/meteor">NPM</a>]&nbsp;
        </div>
      </li>
      <li>
        <i class="icon-check"></i> <a href="http://twee.io/">TWEE.IO</a>
        <iframe src="http://ghbtns.com/github-btn.html?user=tweeio&repo=twee-framework&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

        <a data-toggle="collapse" data-parent="#full-stack" href="#tweeio-fullstack">
          <i class="icon-info icon-stack-1x icon-inverse"></i>
        </a>

        <div id="tweeio-fullstack" class="panel-collapse collapse">
          [<a href="https://github.com/tweeio/twee-framework">GitHub</a>]&nbsp;
          [<a href="https://www.npmjs.org/package/twee">NPM</a>]
          [<a href="http://twee.io">Official Site</a>]
        </div>
      </li>
      <li>
        <i class="icon-check"></i> <a href="http://developer.yahoo.com/cocktails/mojito/">Mojito</a>
        <iframe src="http://ghbtns.com/github-btn.html?user=yahoo&repo=mojito&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

        <a data-toggle="collapse" data-parent="#full-stack" href="#mojito">
          <i class="icon-info icon-stack-1x icon-inverse"></i>
        </a>

        <div id="mojito" class="panel-collapse collapse">
          [<a href="https://github.com/yahoo/mojito">GitHub</a>]&nbsp;
          [<a href="https://www.npmjs.org/package/mojito">NPM</a>]&nbsp;
        </div>
      </li>
      <li>
        <i class="icon-check"></i> <a href="http://sanestack.com/">SANE</a>
        <iframe src="http://ghbtns.com/github-btn.html?user=artificialio&repo=sane&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

        <a data-toggle="collapse" data-parent="#full-stack" href="#sane">
          <i class="icon-info icon-stack-1x icon-inverse"></i>
        </a>

        <div id="sane" class="panel-collapse collapse">
          [<a href="https://github.com/artificialio/sane">GitHub</a>]&nbsp;
          [<a href="https://npmjs.org/package/sane-cli">NPM</a>]&nbsp;
        </div>
      </li>
      <li>
        <i class="icon-check"></i> <a href="http://coke-js.org">COKE</a>
        <iframe src="http://ghbtns.com/github-btn.html?user=dreamerslab&repo=coke&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

        <a data-toggle="collapse" data-parent="#full-stack" href="#coke">
          <i class="icon-info icon-stack-1x icon-inverse"></i>
        </a>

        <div id="coke" class="panel-collapse collapse">
          [<a href="https://github.com/dreamerslab/coke">GitHub</a>]&nbsp;
          [<a href="https://npmjs.org/package/coke">NPM</a>]&nbsp;
        </div>
      </li>
      <li>
        <i class="icon-check"></i> <a href="http://sleekjs.com/">Sleekjs</a>
        <iframe src="http://ghbtns.com/github-btn.html?user=cubettech&repo=sleekjs&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

        <a data-toggle="collapse" data-parent="#full-stack" href="#sleekjs">
          <i class="icon-info icon-stack-1x icon-inverse"></i>
        </a>

        <div id="sleekjs" class="panel-collapse collapse">
          [<a href="https://github.com/cubettech/sleekjs">GitHub</a>]&nbsp;
          [<a href="https://npmjs.org/package/sleek.js">NPM</a>]&nbsp;
        </div>
      </li>
      <li>
        <i class="icon-check"></i> <a href="https://github.com/gnodi/danf">Danf</a>
        <iframe src="http://ghbtns.com/github-btn.html?user=gnodi&repo=danf&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

        <a data-toggle="collapse" data-parent="#full-stack" href="#danf">
          <i class="icon-info icon-stack-1x icon-inverse"></i>
        </a>

        <div id="danf" class="panel-collapse collapse">
          [<a href="https://github.com/gnodi/danf">GitHub</a>]&nbsp;
          [<a href="https://www.npmjs.org/package/danf">NPM</a>]&nbsp;
        </div>
      </li>
      <li>
        <i class="icon-check"></i> <a href="http://catberry.org">Catberry</a>
        <iframe src="http://ghbtns.com/github-btn.html?user=catberry&repo=catberry&type=star&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

        <a data-toggle="collapse" data-parent="#full-stack" href="#catberry">
          <i class="icon-info icon-stack-1x icon-inverse"></i>
        </a>

        <div id="catberry" class="panel-collapse collapse">
          [<a href="https://github.com/catberry/catberry">GitHub</a>]&nbsp;
          [<a href="https://www.npmjs.org/package/catberry">NPM</a>]&nbsp;
        </div>
      </li>
      <li>
        <i class="icon-check"></i> <a href="http://nukejs.com/">Nuke.js</a>
        <iframe src="http://ghbtns.com/github-btn.html?user=FREEZX&repo=nuke.js&type=star&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

        <a data-toggle="collapse" data-parent="#full-stack" href="#nukejs">
          <i class="icon-info icon-stack-1x icon-inverse"></i>
        </a>

        <div id="nukejs" class="panel-collapse collapse">
          [<a href="https://github.com/FREEZX/nuke.js">GitHub</a>]&nbsp;
          [<a href="https://www.npmjs.com/package/generator-nukejs">NPM</a>]&nbsp;
        </div>
      </li>
    </ul>
  </div>
</template>
