<template name="Home">
  <div align="center">
    <h1>TutorialsJS<i class="fa fa-code"></i></h1><br/>
    <h3>Welcome to WDI 24 Hour Hackathon Fruit</h3>
  <br/><hr> 

  <h3>Tech used for the project</h3><br/>
  </div>
  <div class="col-sm-4">
    <div align="center" class="tech">
        <h3>Meteor<i class="fa fa-rocket"></i></h3>
        <a href="http://www.meteor.com" target="_blank">Meteor</a>
    </div>
  </div>
  <div class="col-sm-4">
    <div align="center" class="tech">
        <h3>Iron-Meteor<i class="fa fa-space-shuttle"></i></h3>
     <a href="https://github.com/iron-meteor/iron-cli" target="_blank">Iron-Meteor</a>
    </div>
    </div>
  <div class="col-sm-4">
    <div align="center" class="tech">
        <h3>Bootstrap<i class="fa fa-laptop"></i></h3>
          <a href="http://getbootstrap.com/">Bootstrap</a>
    </div>
    </div>
</template>
